<p>example work!</p>

<div *ngIf="authService.user | async">
    <h1>Welcome {{(authService.user | async)?.email}}</h1>
  </div>
  <p>your list:</p>
  
  <item *ngFor = "let item of items" [data]="item"> </item>
