

                            <button *ngIf="!(authService.user | async)" mat-button (click) = "toLogin()">
                              Login
                            </button>
                            <button *ngIf="!(authService.user | async)" mat-button (click) = "toRegister()">
                                Register
                              </button>
                            <button *ngIf="authService.user | async" mat-button (click) = "toLogout()">
                              Logout
                            </button>
                            <button mat-button (click) = "toBooks()">
                              books
                            </button>

