<div *ngIf="!(authService.user | async)">
  <a routerLink="/register">register</a> or <a routerLink="/login">login</a> to manage your reading list
</div>

<div *ngIf = "(authService.user | async)">
    <h3>Welcome {{ nickname }}!</h3>
  </div>

<book *ngFor = "let book of books" [data]="book"> </book>

<div *ngIf="authService.user | async">
    <mat-form-field class="example-half-width">
      <input [(ngModel)] = "text" matInput placeholder="Add Book">
      <mat-hint>Please Enter Your book's name</mat-hint>
    </mat-form-field>

      <mat-form-field class="example-half-width">
        <input [(ngModel)] = "writer" matInput placeholder="Add Writer">
        <mat-hint>Please Enter Your writer's mame</mat-hint>
      </mat-form-field>
   <br>
  <button mat-stroked-button color="primary" (click)="addBook()">Add</button> </div>

