               <div>
                <mat-card class="example-card">
              <mat-card-actions>
<nav></nav>
                </mat-card-actions>
                </mat-card></div> 

                <div>
                    <mat-card class="example-card">
                  <mat-card-actions>
<router-outlet></router-outlet>
                    </mat-card-actions>
                    </mat-card></div> 

        