
<form class="example-form">
<div>
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name="name" matInput placeholder="Full Name">
        <mat-hint>Please Enter Your Name</mat-hint>
      </mat-form-field>
      <div class="required" *ngIf = "name == null" >{{ required }}</div>
    </div>
      <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name="email" matInput placeholder="Email">
      <mat-hint>Please Enter Your Email</mat-hint>
    </mat-form-field>
    <div class="required" *ngIf = "email == null">{{ required }}</div>
    <p class="error" *ngIf = "error== 'auth/invalid-email'">{{output}}</p>
  </div>
    <div>
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password" name="password" matInput placeholder="Password">
        <mat-hint>Please Enter Your Password</mat-hint>
      </mat-form-field>
      <div class="required" *ngIf = "password == null">{{ required }}</div>
      <p class="error" *ngIf = "error== 'auth/weak-password'">{{output}}</p>
    </div>
    <div>
      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "checkpassword" name="checkpassword" matInput placeholder="Checkpassword">
          <mat-hint>Please Enter Password again</mat-hint>
        </mat-form-field>
        <div class="required" *ngIf = "password!=checkpassword">{{ check }}</div>
      </div>

      <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "nickname" name="nickname" matInput placeholder="Nickname">
        <mat-hint>Please Enter nickname</mat-hint>
      </mat-form-field>
      <div class="required" *ngIf = "nickname == null">{{ required }}</div>
    </div>

    <div><br><br>
        <div class="massage" *ngIf = "valid==false&&require==false ">{{ massage }}</div>
    
        </div>
  </form><br>
  <button mat-stroked-button color="primary" (click)="signup()">Signup</button>